################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs

/Masterplan/bin
/Masterplan/obj

/Setup/Release
