################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs

/Masterplan/bin
/Masterplan/obj

/Setup/Release

masterplan/.gitattributes
masterplan/.gitignore
/UpgradeLog.htm
/masterplan/README.md
/masterplan/Manual.pdf
/masterplan/Manual.docx
/Masterplan/Libraries
/Masterplan/Projects
/Masterplan/Setup
